<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
</head>
<body>
<h3>
    <h4>{{ message }}</h4>
    <form>
        <div>
            <label>
                <input placeholder="用户名"/>
            </label>
        </div>
        <div>
            <label>
                <input placeholder="密码"/>
            </label>
        </div>
        <div>
            <input type="submit" value="登录"/>
        </div>
    </form>
</h3>
</body>
</html>